/* header styles  */
.body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.header {
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  align-items: center;
  padding: 30px 0px 0px 0px;
}
.header .header-pic {
  width: 635px;
  height: 800px;
}

.title {
  display: block;
  padding-left: 20px;
}
.nav-h1 {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 708px;
}
.nav-p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 634px;
}
.button-primary {
  margin-top: 32px;
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #e55473;
  border: 0;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* main section style */
.feature-flower {
  margin-top: 120px;
}
.feature-content {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}
.feature-description {
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 453px;
  padding-right: 663px;
}
/* Flower section style */
.flower-content {
  display: flex;
  margin-top: 120px;
}
.flower-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}
.pink-flower {
  background-color: #f1dde7;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  padding: 20% 15% 0% 15%;
}
.red-flower {
  background-color: #d9eff0;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  padding: 20% 15% 0% 15%;
}
.yellow-flower {
  background: rgba(71, 125, 17, 0.15);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  padding: 20% 15% 0% 15%;
}
.flower-image {
  margin-bottom: -4px;
  width: 295px;
  height: 385px;
}
.flower-heading {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}

/* delivery-section styles */
.delivery {
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  width: 1140px;
  height: 220px;
  flex-shrink: 0;
  border-left: 240px;
  border-right: 240px;
  display: flex;
  margin-left: 200px;
  margin-top: 128px;
}
.table-image {
  display: flex;
}
.details {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
  display: inline-flex;
  /* margin-top: 95px; */
}
.icon {
  margin-top: 40px;
  margin-left: 150px;
  flex-direction: column;
}
/* second header styles */
.hot-deal {
  position: relative;
  margin-top: 130px;
  width: 1922px;
  height: 620px;
  /* flex-shrink: 0;
  border-radius: 8px; */
  background: rgba(229, 84, 115, 0.05);
}
.resize {
  margin-left: 150px;
  padding-top: 20px;
}
.pink {
  color: #e55473;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.nav-h2 {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.nav-p2 {
  color: rgba(39, 39, 39, 0.6);
  width: 594px;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.button {
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 0;
  margin-left: 175px;
}
.flower-cover {
  width: 318px;
  height: 420px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0px 429px 100px 1150px;
  max-height: 80px;
  margin-right: 20px;
  margin-top: 50px;
}
/* instagram section styles */
.instagram-content {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 128px;
}
.instagram-description {
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 453px;
  padding-right: 663px;
}
/* four photos styles */
.photo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 95px;
}
.photo {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}
.photo img {
  max-width: 100%;
  height: auto;
}
/* last pic style */
.container {
  position: relative;
  width: 600px;
  margin: 128px auto;
  width: 1440px;
  height: 449px;
  flex-shrink: 0;
  border-radius: 8px;
}

.background-image {
  width: 100%;
  height: auto;
  display: block;
}

.subscribe-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.form-1 {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.form-2 {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.email-input {
  width: 700px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  border: 0;
  /* display: inline; */
  color: rgba(39, 39, 39, 0.192);
  text-align: center;
  font-family: Lato;
}

.subscribe-button {
  margin-top: 32px;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #e55473;
  border: 0;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
}
.email-1{
  display: inline;
}


/* Footer section style */
.footer{
 width: 1530px;
height: 349px;
flex-shrink: 0; 
background: #111010;
}
.shop{
  position: relative;
  width: 600px;
  margin: 128px auto;
  flex-shrink: 0;
  border-radius: 8px;
  margin-top: 150px;
  text-align: center;

}
.pink-1{
  color: #E55473;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.footer-1{
  color:#FFF;
  font-family: Lato;
  font-size: 48px;
  font-weight: 800;
  padding-top: 110px;
  /* font-style: normal;
  line-height: normal; */
}
.footer-2{
  margin-top: 50px;
  width: 625px;
  color: rgba(255, 255, 255, 0.90);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}
.footer-3{
  color: rgba(255, 255, 255, 0.40);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}